<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.k23dtcn436_nguyenvietthanh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K23DTCN436_NguyenVietThanh">

        <!-- 1. Entry Point -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Dashboard -->
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <!-- 3. Category Management -->
        <activity
            android:name=".activity.CategoryListActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:exported="false" />

        <!-- 4. Equipment Management -->
        <activity
            android:name=".activity.EquipmentListActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EquipmentFormActivity"
            android:parentActivityName=".activity.EquipmentListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EquipmentDetailActivity"
            android:parentActivityName=".activity.EquipmentListActivity"
            android:exported="false" />

        <!-- 5. Reports -->
        <activity
            android:name=".activity.ReportActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:exported="false" />

    </application>
</manifest>